# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.env.*

# macOS
.DS_Store

# Logs
*.log

# Docker
*.tar

# Local data
data/
reports/

# IDE
.vscode/
.idea/

# Test/cache files
.pytest_cache/
.coverage
htmlcov/

# Kubernetes local files
*.kubeconfig